<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calorie Compass</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <div class="welcome">
    <h1>Welcome, <%= user %></h1>
    <form action="/logout" method="POST">
      <button type="submit">Sign Out</button>
    </form>
  </div>

  <% let today = new  Date().toISOString().split('T')[0]%>
  <% if (date == today){ %>
  <div class="days">
    <form action="/prev-day" method="GET">
      <input type="hidden" name="date" value="<%= date %>">
      <button type="submit">←</button>
    </form>
    <h2>Today</h2>
    <form action="/next-day" method="get">
      <input type="hidden" name="date" value="<%= date %>">
      <button type="submit">→</button>
    </form>
  </div>
  <% }else{ %>
  <%
    let dateObj = new Date(date);
    let options = { timeZone: 'UTC',weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    let formattedDisplayDate = new Intl.DateTimeFormat('en-US', options).format(dateObj);
%>
  <div class="days">
    <form action="/prev-day" method="GET">
      <input type="hidden" name="date" value="<%= date %>">
      <button type="submit">←</button>
    </form>
    <h2><%= formattedDisplayDate %></h2>
    <form action="/next-day" method="get">
      <input type="hidden" name="date" value="<%= date %>">
      <button type="submit">→</button>
    </form>
  </div>

  <% } %>

  <!-- change days -->


  <form action="/search" method="get">
    <input type="hidden" name="date" value="<%= date %>">
    <!-- <button type="submit">Search for a Food 🔍</button> -->
    <button type="submit" class="search-food-button">Search for a Food 🔍</button>

  </form>

  <p class="total-calories">Total Calories: <%= caloriesConsumed %></p>

  <ul>
    <% for (let i = 0; i < calorieEntries.length; i++) { %>
    <li>
      <% if (calorieEntries[i].food_name) { %>
      <strong><%= calorieEntries[i].food_name %></strong>
      <%= calorieEntries[i].total %> calories
      <% } else { %>
      (manual entry)
      <% } %>

      <form class="delete-entry" action="/delete-entry" method="POST">
        <input type="hidden" name="entryId" value="<%= calorieEntries[i].id %>">
        <input type="hidden" name="date" value="<%= date %>">
        <!-- <button type="submit">Delete</button> -->
        <button type="submit" class="delete-button" title="Delete entry">×</button>
      </form>
    </li>
    <% } %>
  </ul>

</body>

</html>